@model WTF_Site.Models.Comic
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar");
<h2>@Model.Title @Model.Id</h2>
@*<img src="~/Content/Images/Xybermorphs_1.jpg"/>*@
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Title: @Model.Title</li>
    <li>Summary: @Model.Summary</li>
    <li>Release Date: @Model.ReleaseDate</li>
    <li>Price: $@Model.Price</li>
</ul>

