@model WTF_Site.ViewModels.ComicsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar")
<h2>Available Comics</h2>

<table id="customers" class="table table-bordered table-hover">
    <tr>
        <th>Title</th>
        <th>Issue #</th>
        <th>Price</th>
        <th>Summary</th>
    </tr>
    @foreach (WTF_Site.Models.Comic comic in Model.Comics)
    {
        <tr>
            <td>@comic.Title</td>
            <td>@comic.Id</td>
            <td>@comic.Price</td>
            <td>@comic.Summary</td>
        </tr>
    }
</table>

