@model IEnumerable<WTF_Site.Models.Comic>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar")
@Html.Partial("_ImageSlider")
<h2>Available Comics</h2>
<div>
    <button type="button" class="btn btn-info" >New Comic</button>
</div>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Issue #</th>
            <th>Price</th>
            <th>Summary</th>
        </tr>
    </thead>

    @foreach (WTF_Site.Models.Comic comic in Model)
    {
        <tr onclick="location.href = '@(Url.Action("Details", "Comics", new { id = @comic.Id }))'">
            <td>@comic.Title</td>
            <td>@comic.Id</td>
            <td>$@comic.Price</td>
            <td>@comic.Summary</td>
        </tr>
    }
</table>

